<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
        <h1 class="field has-text-centered is-size-4">
        ユーザー新規登録
        </h1>

        <%= render "shared/error_messages", model: f.object %>

        <div class="field">
          <%= f.label :name, "ユーザー名(必須)" %><br />
            <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class:"input", id:"user_name", maxlength:"40" %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス(必須)" %><br />
            <%= f.email_field :email, autofocus: true, id:"user_email", autocomplete: "email", placeholder: "Eメールアドレス", class:"input" %>
        </div>

          <%if @sns_id.present? %>
            <%= hidden_field_tag :sns_auth, true %>
          <% else %>
            <div class="field">
              <%= f.label :password, "パスワード（必須）" %><br />
                <%= f.password_field :password, autofocus: true, id:"user_password", autocomplete: "new-password", placeholder: "半角英数パスワード(6文字以上)", class:"input"%>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, "パスワード再入力(必須)" %><br />
                <%= f.password_field :password_confirmation, autofocus: true, id:"user_password_confirmation", autocomplete: "new-password", placeholder: "半角英数パスワード(6文字以上)", class:"input" %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "新規登録" ,class:"button is-success" %>
          </div>
        <% end %>
        <div>
          <%= link_to "Facebookで登録", user_facebook_omniauth_authorize_path, method: :post%>
        </div>
        <div>
          <%= link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, method: :post%>
        </div>
      </div>
    </div>
  </div>
</section>


