<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with model: @hotel, local: true do |f| %>
          <%= render "shared/error_messages", model: f.object %>
            <p class="form-header-text is-size-1 has-text-centered">宿泊施設を更新する<p>
          <div class="field">
            <%= f.text_field :name, class:"input", placeholder:"宿泊施設名" %>
          </div>
          <div class="field has-text-centered">
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
          </div>
          <div class="field is-size-6 has-text-centered">
          <p>
            クリックしてファイルをアップロード
            <div>
              <%= f.file_field :image, id:"hotel-image" %>
            </div>
          </p>
          </div>
          <div class="actions mt-6 has-text-centered">
            <%= f.submit "投稿する" ,class:"button is-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>