<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <p class="form-header-text is-size-4 has-text-centered">宿泊施設・カテゴリー一覧</p>
        <% @hotels.each do |hotel|%>
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= hotel.name %>
              <%= ":#{hotel.category.name}"%>   
            </p>
          </header>
          <div class="card-content mb-3">
            <%= image_tag(hotel.image, class: :card__img)if hotel.image.attached? %>
            <div class="content">
              <div class="content average-score">
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= hotel.review_score_percentage %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display ml-3 pt-2">
                  <%= hotel.avg_score %>点（<%= hotel.reviews.count %>件のレビュー）
                </div>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <%= link_to hotel_reviews_path(hotel), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to hotel_path(hotel), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>
          </footer>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>