<section class="section mt-6">
<h1 class="columns is-centered form-header-text is-size-5">
  宿泊施設検索
</h1>
<div class="form-header-text has-text-centered is-size-5">
  <%= search_form_for @p, url: hotels_search_path do |f| %>
  <div>
    <%= f.label :category_id_eq, 'カテゴリー検索' %>
    <%= f.collection_select :category_id_eq, Category.all,:id,:name,{class:"category-select"} %>
    <%= f.submit '検索' %>
  </div>
  <div>
    <%= f.label :name_cont, '宿泊施設名検索' %>
    <%= f.search_field :name_cont, class: "search-input" %>
    <%= f.submit '検索' %>
  </div>
  <% end %>
</div>
  <div class="container">  
    <div class="columns is-centered">
    <div class="column is-5">
      <p class="form-header-text is-size-4 has-text-centered">宿泊施設・カテゴリー一覧</p>
      <% @hotels.each do |hotel|%>
        <%= render partial: "hotel", locals: { hotel: hotel } %>
      <% end %>
    </div>
    </div>
  </div>
</section>