<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <p class= "form-header-text is-size-4 has-text-centered">宿泊施設レビュー</p>
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @hotel.name %>
              <%= ":#{@hotel.category.name}"%>
            </p>
          </header>
          <div class="card-content mb-3">
            <%= image_tag @hotel.image %>
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @hotel.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @hotel.avg_score %>点（<%= @hotel.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ユーザー</th><th>点数</th><th>内容</th><th></th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><%= review.user.name %></td>
                <td><%= review.total_score %></td>
                <td><%= review.comment %></td>
                <% if user_signed_in? && current_user.id == review.user_id %>
                  <td><%= link_to "削除", hotel_review_path(review.hotel.id, review.id), method: :delete%></td>
                <% else %>
                <td></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class=has-text-centered>
          <%= link_to "宿泊施設一覧に戻る", root_path, class: :button%>
        </div>
      </div>
    </div>
  </div>
</section>